head
  title JUST

body
  .container
    .row
      h1.text-center
        |ソーシャルプラットフォーム
      h1.text-center
        small
          | -Active-
      +sample
      +card_desc
    .row
      h1.text-center 
      +apppage
    .row
      +comic
