head
  title JUST

body
  .container
    .row
      h1.text-center 
        small プラットフォーム側
      .col-md-4
        +youtube
        +pazudora
      .col-md-4
        +amazon
        +googlenews
      .col-md-4
        +running
        +itunes
    .row
      h1.text-center 
        small アプリ側
      +apppage
