template(name='running')
  .panel.panel-default
    .panel-heading
      h3
        img(src='http://images.app-liv.jp/v1/240x240/s/a5.mzstatic.com/jp/r30/Purple3/v4/a1/ec/0a/a1ec0a74-d085-da84-0d32-18a17a110c02/icon240x240.png')
        small Runtastic GPS 
    .list-group
      .list-group-item
        h3
          small
            span.label.label-info ランニング中
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xat1/v/t1.0-1/p100x100/11149387_10206804384856250_6263660830333835173_n.jpg?oh=3059158c8f7c53730121519e674e7442&oe=5626833F&__gda__=1441648976_34784af8233f740e990038a7ad077756')
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xta1/v/t1.0-1/c0.33.100.100/p100x100/11114095_833946900018136_426285835501324480_n.jpg?oh=496105a309bb159a6b4a78403833b718&oe=5633E56F&__gda__=1441828501_2ef72904e39d9df326e756de9130d8f2')
          h3 皇居外苑
            img.img-responsive(src='/map.png')
