template(name='amazon')
  .panel.panel-default
    .panel-heading
      h3
        img(src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS8p2ZZK6KbnviySe-2GBGOywOrhKDlBYhEdOwIdkMi0VUJo4eLLShm-AY')
        small Youtube
    .list-group
      .list-group-item
        h3
          small
            span.label.label-info ショッピング中
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/p100x100/10702104_1557729404450246_810323507886811415_n.jpg?oh=49f9a7206c44da3f041fcae75c857775&oe=56273B92&__gda__=1441531694_cbe042f855dfafaeae8c250819befdd7')
          //- small ３人の友達が視聴中
          h5 MacBook Pro RetinaディスプレイMGX72J/A 2600/13.3
            img.img-responsive(src='http://media.engadget.com/img/product/4/37g/apple-macbook-pro-13-inch-unibody-4g6-800.jpg')
          h5 Kindle Paperwhite
            img.img-responsive(src='http://g-ecx.images-amazon.com/images/G/01/kindle/dp/2012/KC/technical._V376689304_.jpg')
        //- button.btn.btn-block.btn-primary コメントするs
