template(name='apppage')
  .col-md-6
    video(loop src='https://dl.dropboxusercontent.com/u/89640477/%E5%90%8D%E7%A7%B0%E6%9C%AA%E8%A8%AD%E5%AE%9A.mov' autoplay)
  .col-md-6.well.well-lg
    h1 友達と一緒にYoutube鑑賞
    span わざわざシェアしなくても。面白い動画を見ているだけで友達が来てくれる。
