template(name='card_desc')
  h1.text-center アクティブカード
  .row
    .col-md-3
      +googlenews
    .col-md-9
      h1 
        small シンプルなフォーマット
      .alert.alert-info
        h3 Who
          small 誰が
      .alert.alert-success
        h3 Doing
          small 何をしていて
      .alert.alert-danger
        h3 Join
          small どうすれば参加できるのか
