template(name='comic')
  .col-md-5.well.well-lg
    h1
      友達と一緒に電子書籍を読む
    span
      |独りで本を読む時代は終わりました。これからは読書もみんなで楽しく
  .col-md-3
    video.embed-responsive-item(loop autoplay)
      source(src='https://dl.dropboxusercontent.com/u/89640477/%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF.mov')
