template(name='googlenews')
  .panel.panel-default
    .panel-heading
      h3
        img(src='https://lh4.ggpht.com/J7qAD5AfXxOIAe96iAAMKBd_nLQ1JuYgMATI0VppI5skcr_8j02fMM0XSV2s3kpnvA=w300')
        small Googleニュース
    .list-group
      .list-group-item
        h3
          small
            span.label.label-info 閲覧中
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/c31.31.391.391/s160x160/224030_1022969650449_3086_n.jpg?oh=07e16adb85bf27ef3f381777e3b6946d&oe=55F08653&__gda__=1442516571_552dcddafbada894601fa80460c80650')
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p100x100/10703847_294370134084901_5788267078268136299_n.jpg?oh=ce9bbf9ddf88e7f0af96f7059f04a6ea&oe=562972C3&__gda__=1442231370_08ba6ec677d1e671257ec647b7a697fb')
          h3 人工知能「Watson」が医療・ヘルスケア業界に与えるインパクト
            img.img-responsive(src='http://web-at.jp/wp-content/uploads/2015/03/watson-ibm.png')
        button.btn.btn-block.btn-primary 
          i.fa.fa-eye
          |閲覧する
