template(name='itunes')
  .panel.panel-default
    .panel-heading
      h3
        img(src='https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/1024/itunes_5122x.png')
        small iTunes
    .list-group
      .list-group-item
        h3
          small
            span.label.label-info リスニング中
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c39.39.485.485/s160x160/162798_120954744641548_6006057_n.jpg?oh=b14f93479e38fe165af47ab663490147&oe=562F6672&__gda__=1445240382_75beae26bdead51620a656d9bb70d943')
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p100x100/1452542_1410317505871236_1303597735_n.jpg?oh=21fec5d2024a2486259d686619748dea&oe=55F96663&__gda__=1441962307_cac899d8638916612c7a52f5f951f09b')
          h3 Neo SOUND BEST -UVERworld-
            img.img-responsive(src='http://ecx.images-amazon.com/images/I/51dnPX%2BDVEL.jpg')
        button.btn.btn-block.btn-primary 
          i.fa.fa-music
          |視聴する
      .list-group-item
        h3
          small
            span.label.label-info リスニング中
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c25.0.100.100/p100x100/1150127_830862950278291_3224306031891861609_n.jpg?oh=faf7c9b5d0b30e7b2be4496f5ffa6ba5&oe=55F784D8&__gda__=1446178598_baaed58e7c4fa27d96c2e83d2d4619f1')
          h3 Jazz Blues Club
            img.img-responsive(src='http://jazzbluesclub.com/uploads/posts/thumbs/1366659947_cover.jpg')
        button.btn.btn-block.btn-primary 
          i.fa.fa-music
          |視聴する
