template(name='pazudora')
  .panel.panel-default
    .panel-heading
      h3
        img(src='http://www.gizmodo.jp/upload_files2/130913pazudora.jpg')
        small パズドラ
    .list-group
      .list-group-item
        h3
          small
            span.label.label-info クエスト中
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/v/t1.0-1/c63.63.791.791/s100x100/941850_416594721780723_1649082834_n.jpg?oh=472108b2bfbfd88aceb20f24e90d511a&oe=55EC6ADE&__gda__=1442032461_76d968effa53d1826e3dffa4bbe4780f')
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p100x100/1452542_1410317505871236_1303597735_n.jpg?oh=21fec5d2024a2486259d686619748dea&oe=55F96663&__gda__=1441962307_cac899d8638916612c7a52f5f951f09b')
          h3 氷の機械龍
            img.img-responsive(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoUGG_Qsca4Y_uJUn59AmCLlp2Py1dyQVqZyvx5i_ALISBEfgSAg')
        button.btn.btn-block.btn-primary 
          i.fa.fa-bullhorn
          |参加する
      .list-group-item
        h3
          small
            span.label.label-info クエスト中
          img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c37.37.465.465/s100x100/185823_111292425615036_1449422_n.jpg?oh=8e47467e8422e14331f59dc2147be17c&oe=55F012F0&__gda__=1445711548_ac502627daa4a7a9920d5d3e62241ffe')
          h3 木の歴龍
            img.img-responsive(src='http://メタドラ時間割.com/wp-content/themes/blog/images/2013.5/2801.jpg')
        button.btn.btn-block.btn-primary 
          i.fa.fa-sign-in
          |参加する
