template(name='sample')
  //- video(loop src='https://dl.dropboxusercontent.com/u/89640477/%E3%83%88%E3%83%83%E3%83%97%E7%94%BB%E9%9D%A2%E3%82%AD%E3%83%A3%E3%83%97%E3%83%81%E3%83%A3.mov' autoplay)
  
  img.block(src='top_display.png')
